public/index2.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2022"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><meta name="format-detection" content="telephone=no"/><title>zonfi</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper-bundle.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/swiper-bundle.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="cookie-box" id="cookieBox"><div class="txt">為增進您的瀏覽體驗，本網站使用 <br><a href="###">Cookies</a> 進行分析。</div><div class="cookie-btn-box"><div class="cookie-btn" id="cookieAgree">同意</div><div class="cookie-btn disagree">不同意</div></div></div><nav><a class="logo" href="index.html" id="logo"><img id="wlogo" src="img/logo.svg" alt=""/><img id="blogo" src="img/logo_b.svg" alt=""/></a><div class="nav-btn" id="sideNavOpen"><img id="wPlus" src="img/plus.svg" alt=""/><img id="bPlus" src="img/plus_b.svg" alt=""/></div><div class="nav-mask" id="navMask"></div><div class="side-nav-area" id="sideNavArea"><div class="side-nav-top"><div class="side-nav-tit"><div class="nav-tit">ZONFI INFO</div></div><div class="nav-banner"><img src="img/nav_img.jpg" alt=""/></div><div class="nav-list-box"><div class="nav-box-tit"><div class="tit">ZONFI BASIC</div><div class="icon"></div></div><div class="nav-sub-box"><a class="nav-sub bg-h" href="###" id="basicAreaNavBtn1"><span>櫃體外型</span></a><a class="nav-sub bg-h" href="###" id="basicAreaNavBtn2"><span>產品內裝</span></a><a class="nav-sub bg-h" href="###" id="basicAreaNavBtn3"><span>產品規格</span></a></div></div><a class="nav-box bg-h" href="###"><span>ZONFI B</span></a><a class="nav-box bg-h" href="###" id="navAreaBtn1"><span>工藝技術</span></a><a class="nav-box bg-h" href="###" id="navAreaBtn2"><span>支援服務</span></a><a class="nav-box bg-h" href="###" id="navAreaBtn3"><span>關於我們</span></a><a class="nav-box bg-h" href="###"><span>聯絡我們</span><span class="snote">至日寶門市洽詢</span></a></div><div class="side-nav-bot"><div class="lan-box"><a class="act" href="###">中文</a><span>|</span><a href="###">English</a></div><div class="nav-social-box"><a href="###" target="_blank">Facebook</a><a href="###" target="_blank">Instagram</a><a href="###" target="_blank">Youtube</a></div></div></div></nav><div class="banner-area" id="bannerArea"><img src="img/banner.jpg" alt=""/><div class="banner-txt-area" id="bannerTxtArea"><div class="tit">THE ESSENCE<br>OF LIVING</div><div class="txt">ZONFI is a futuristic living concept which emphasizes space extension and a mind-peace feeling. Inception in Taipei, Taiwan.</div></div><div class="video-btn" id="stop"></div><div class="video-btn play" id="play"></div></div><footer><div class="footer-area"><div class="footer-logo-area"><div class="footer-logo-box"><div class="footer-logo"><img src="img/f_logo.svg" alt=""/></div></div><div class="footer-logo-txt"><div class="txt">ZONFI is a futuristic living concept which emphasizes space extension and a mind-peace feeling.</div><div class="copyright">© ZONFI 2022</div></div></div><div class="footer-link-area"><div class="footer-link-group"><div class="footer-link-cont"><div class="footer-link-box"><div class="tit">ZONFI BASIC</div><ul class="link"><li><a href="###" id="fAreaBtn1">工藝技術</a></li><li><a href="###" id="fAreaBtn2">支援服務</a></li><li><a href="###" id="fAreaBtn3">關於我們</a></li><li><a href="###">聯絡我們</a></li></ul></div><div class="footer-link-box"><div class="tit f-mb-tit">FOLLOW US</div><ul class="link en"><li><a href="###" target="_blank">Facebook</a></li><li><a href="###" target="_blank">Instagram</a></li><li><a href="###" target="_blank">Youtube</a></li></ul></div></div><div class="footer-back-box"><a class="footer-back" href="###"><span>BACK TO <br>COMFO SAFE</span></a></div></div><div class="footer-img"><img src="img/footer_img.jpg" alt=""/></div></div><div class="footer-mb-back-box"><div class="copy">© ZONFI 2022</div><div class="back"><a href="###">BACK TO COMFO SAFE</a></div></div><div class="footer-marquee-area" id="marqueeWrap"><div class="marquee-box" id="marqueeBox1">ZONFI THE ESSENCE OF LIVING</div><div class="marquee-box" id="marqueeBox2">ZONFI THE ESSENCE OF LIVING</div></div></div></footer></body></html><script>$(document).ready(function(){
	$('#btn01').on('click',function(){
		console.log('btn01')
	});
});</script>

pug/index2.pug
//-include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/cookie
		include includes/nav
		.banner-area#bannerArea
			img(src="img/banner.jpg", alt="")
			.banner-txt-area#bannerTxtArea
				.tit THE ESSENCE<br>OF LIVING
				.txt ZONFI is a futuristic living concept which emphasizes space extension and a mind-peace feeling. Inception in Taipei, Taiwan.
			.video-btn#stop
			.video-btn.play#play
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		$('#btn01').on('click',function(){
			console.log('btn01')
		});
	});
